
body{
    background-color: blanchedalmond;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    margin-bottom: 10px;
}
.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 8px;
}
.input-wrapper {
    display: flex;
    align-items: center;
}

button {
    margin-left: 10px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgb(39, 6, 12);
    background-color: white;
    color: red;
    font-size: 20px;
}